@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/***************
variables
***************/
$fontFamily: 'Roboto', sans-serif;
$fontSize: 16px;
$orange: #ff8c00;
$white: #fff;
$black: #000;
$text: #333;
$lightGray: #d3d3d3;
$transition: .3s ease;
$padding: 80px 0;

/***************
basic styles
***************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.6;
    color: $text;
}
.container {
    width: 85%;
    margin: auto;
    @media (max-width: 767px) {
        width: 95%;
    }
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/***************
mixins
***************/
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn($bgColor, $color, $padding) {
    text-transform: uppercase;
    color: $color;
    background: $bgColor;
    border-radius: 6px;
    padding: $padding;
    border: 1px solid $white;
    cursor: pointer;
    font-weight: 600;
}
@mixin h2 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/***************
nav
***************/
nav {
    background-color: $black;
    .container {
        @include flex(space-between, center);
        padding: 15px;
        .logo {
            @media (max-width: 767px) {
                margin: 10px auto;
            }
        }
        .navigation {
            @include flex(space-between, center);
            @media (max-width: 767px) {
                margin: auto;
            }
            ul {
                @include flex(space-between, center);
                li {
                    margin-right: 30px;
                    a {
                        color: $white;
                        transition: $transition;
                        font-size: 0.9rem;
                        &:hover {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
            button {
                @include btn(transparent, lightGray, 7px 9px);
            }
        }
    }
}

/***************
header
***************/
header {
    background-image: url(images/bg_header.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    @media (max-width: 767px) {
        height: 70vh;
    }
    hgroup {
        @include flex(center, center, column);
        height: 80vh;
        @media (max-width: 767px) {
            text-align: center;
            height: 60vh;
        }
        h1 {
            font-size: 3rem;
            color: $white;
            letter-spacing: 2px;
            @media (max-width: 767px) {
                font-size: 2.5rem;
            }
        }
        h5 {
            font-size: 1.2rem;
            color: $white;
            font-weight: 300;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        button:first-child {
            @include btn(transparent, white, 15px 30px);
            &:hover {
                color: $lightGray;
                transition: $transition;
            }
        }
        button:last-child {
            @include btn($orange, white, 15px 40px);
            &:hover {
                color: $lightGray;
                transition: $transition;
            }
        }
    }
}

/***************
about
***************/
.about {
    padding: $padding;
    text-align: center;
    h2 {
        @include h2;
    }
}

/***************
services
***************/
.services {
    background-color: $lightGray;
    text-align: center;
    padding: $padding;
    h3 {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 40px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    .container {
        @include flex(space-between, center);
        article {
            flex: 0 0 23%;
            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
            .fas {
                font-size: 2.5rem;
                margin-bottom: 30px;
                @media (max-width: 767px) {
                    margin-top: 30px;
                }
            }
            p {
                font-weight: 300;
            }
        }
    }
}

/***************
qa
***************/
.qa {
    padding: $padding;
    h2 {
        @include h2;
        text-align: center;
    }
    .container {
        @include flex(space-between, center);
        article {
            flex: 0 0 48%;
            @media (max-width: 767px) {
                flex: 0 0 100%;
                text-align: center;
            }
            h3 {
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 10px;
            }
            p  {
                font-weight: 300;
            }
        }
        article:nth-child(1) {
            margin-bottom: 30px;
        }
        article:nth-child(2) {
            margin-bottom: 30px;
        }
    }
}

/***************
learn more
***************/
.learnMore {
    background: $lightGray;
    padding: 40px;
    p {
        margin-bottom: 20px;
    }
    button {
        @include btn ($orange,$white, 10px 20px);
        display: block;
        margin-left: auto;
        @media (max-width: 767px) {
            margin: auto;
        }
    }
}

/***************
footer
***************/
footer {
    background: $black;
    color: $white;
    padding: 50px 0;
    .container {
        @include flex(space-between, flex-start);
        article:nth-child(1) {
            flex: 0 0 25%;
            @media (max-width: 767px) {
                flex: 0 0 50%;
            }
            h4 {
                margin-bottom: 10px;
            }
            p {
                font-weight: 300;
                font-size: 0.8rem;
                margin-bottom: 10px;
                color: $lightGray;
            }
        }
        article:nth-child(2) {
            flex: 0 0 25%;
            @media (max-width: 767px) {
                flex: 0 0 50%;
            }
            h4 {
                margin-bottom: 10px;
            }
            .fab {
                font-size: 1.3rem;
                margin-right: 10px;
            }
        }
        article:nth-child(3) {
            flex: 0 0 50%;
            @media (max-width: 767px) {
                flex: 0 0 100%;
                order: -2;
                margin-bottom: 20px;
            }
            h4 {
                margin-bottom: 10px;
            }
            p {
                color: $lightGray;
                font-size: 0.8rem;
            }
        }
    }
}