@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/***************
variables
***************/
/***************
basic styles
***************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.container {
  width: 85%;
  margin: auto;
}
@media (max-width: 767px) {
  .container {
    width: 95%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/***************
mixins
***************/
/***************
nav
***************/
nav {
  background-color: #000;
}
nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 15px;
}
@media (max-width: 767px) {
  nav .container .logo {
    margin: 10px auto;
  }
}
nav .container .navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 767px) {
  nav .container .navigation {
    margin: auto;
  }
}
nav .container .navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
nav .container .navigation ul li {
  margin-right: 30px;
}
nav .container .navigation ul li a {
  color: #fff;
  transition: 0.3s ease;
  font-size: 0.9rem;
}
nav .container .navigation ul li a:hover {
  font-size: 1.1rem;
}
nav .container .navigation button {
  text-transform: uppercase;
  color: lightGray;
  background: transparent;
  border-radius: 6px;
  padding: 7px 9px;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 600;
}

/***************
header
***************/
header {
  background-image: url(images/bg_header.jpg);
  background-position: center;
  background-size: cover;
  height: 85vh;
}
@media (max-width: 767px) {
  header {
    height: 70vh;
  }
}
header hgroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
@media (max-width: 767px) {
  header hgroup {
    text-align: center;
    height: 60vh;
  }
}
header hgroup h1 {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  header hgroup h1 {
    font-size: 2.5rem;
  }
}
header hgroup h5 {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
header hgroup button:first-child {
  text-transform: uppercase;
  color: white;
  background: transparent;
  border-radius: 6px;
  padding: 15px 30px;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 600;
}
header hgroup button:first-child:hover {
  color: #d3d3d3;
  transition: 0.3s ease;
}
header hgroup button:last-child {
  text-transform: uppercase;
  color: white;
  background: #ff8c00;
  border-radius: 6px;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 600;
}
header hgroup button:last-child:hover {
  color: #d3d3d3;
  transition: 0.3s ease;
}

/***************
about
***************/
.about {
  padding: 80px 0;
  text-align: center;
}
.about h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/***************
services
***************/
.services {
  background-color: #d3d3d3;
  text-align: center;
  padding: 80px 0;
}
.services h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services h3 {
    margin-bottom: 20px;
  }
}
.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.services .container article {
  flex: 0 0 23%;
}
@media (max-width: 767px) {
  .services .container article {
    flex: 0 0 100%;
  }
}
.services .container article .fas {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .services .container article .fas {
    margin-top: 30px;
  }
}
.services .container article p {
  font-weight: 300;
}

/***************
qa
***************/
.qa {
  padding: 80px 0;
}
.qa h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
}
.qa .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.qa .container article {
  flex: 0 0 48%;
}
@media (max-width: 767px) {
  .qa .container article {
    flex: 0 0 100%;
    text-align: center;
  }
}
.qa .container article h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.qa .container article p {
  font-weight: 300;
}
.qa .container article:nth-child(1) {
  margin-bottom: 30px;
}
.qa .container article:nth-child(2) {
  margin-bottom: 30px;
}

/***************
learn more
***************/
.learnMore {
  background: #d3d3d3;
  padding: 40px;
}
.learnMore p {
  margin-bottom: 20px;
}
.learnMore button {
  text-transform: uppercase;
  color: #fff;
  background: #ff8c00;
  border-radius: 6px;
  padding: 10px 20px;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 600;
  display: block;
  margin-left: auto;
}
@media (max-width: 767px) {
  .learnMore button {
    margin: auto;
  }
}

/***************
footer
***************/
footer {
  background: #000;
  color: #fff;
  padding: 50px 0;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
footer .container article:nth-child(1) {
  flex: 0 0 25%;
}
@media (max-width: 767px) {
  footer .container article:nth-child(1) {
    flex: 0 0 50%;
  }
}
footer .container article:nth-child(1) h4 {
  margin-bottom: 10px;
}
footer .container article:nth-child(1) p {
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: #d3d3d3;
}
footer .container article:nth-child(2) {
  flex: 0 0 25%;
}
@media (max-width: 767px) {
  footer .container article:nth-child(2) {
    flex: 0 0 50%;
  }
}
footer .container article:nth-child(2) h4 {
  margin-bottom: 10px;
}
footer .container article:nth-child(2) .fab {
  font-size: 1.3rem;
  margin-right: 10px;
}
footer .container article:nth-child(3) {
  flex: 0 0 50%;
}
@media (max-width: 767px) {
  footer .container article:nth-child(3) {
    flex: 0 0 100%;
    order: -2;
    margin-bottom: 20px;
  }
}
footer .container article:nth-child(3) h4 {
  margin-bottom: 10px;
}
footer .container article:nth-child(3) p {
  color: #d3d3d3;
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
